doctype 

html 
    head 
        title McBroken 
        link(rel="stylesheet" href="./CSS/style.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css")
    body
        header
            img(class="logo" src="./Images/McBrokenNewFinal.png" alt="logo")
            nav 
                ul(class="nav_links")
                    li 
                        a(href="/", data-active="home") Home
                    if(loggedInUser)
                        li 
                            a(href="/profile", data-active="profile") Profile
                        li 
                            a(href="/logout", data-active="logout") Logout
                    else
                        li 
                            a(href="/login", data-active="login") Login
                        li 
                            a(href="/register", data-active="register") Register
                    //- li
                    //-     a(href="/login", data-active="home") Login
                    //- li
                    //-     a(href="/register", data-active="home") Register
            if(loggedInUser)
                a(class="cta" href="/order")
                    button Order Now 
            else
                a(class="cta" href="#")
                    button Contact 

        section(class="content")
            block layout-content
        footer(class="site-footer")
            div(class="container")
                div(class="row")
                    div(class="footer-col")
                        h4 Company
                        ul 
                            li
                                a(href="https://mcdonalds.com" target="blank") about us
                            li
                                a(href="https://mcdonalds.com" target="blank") our service
                            li
                                a(href="https://mcdonalds.com" target="blank") privacy policy
                            li
                                a(href="https://mcdonalds.com" target="blank") affiliate program
                        
                    div(class="footer-col")
                        h4 Get Help
                        ul(class="footer-links")
                            li
                                a(href="https://www.mcdonalds.com/us/en-us/faq.html" target="blank") FAQ
                            li
                                a(href="https://www.mcdonalds.com/us/en-us/contact-us.html" target="blank") Contact Us
                            li
                                a(href="https://mcdonalds.com" target="blank") returns
                            li
                                a(href="https://mcdonalds.com") order status
                            li
                                a(href="https://mcdonalds.com" target="blank") payment options
                    div(class="footer-col")
                        h4 Online Shop
                        ul(class="footer-links")
                            li
                                a(href="https://mcdonalds.com" target="blank") Five 
                            li
                                a(href="https://mcdonalds.com" target="blank") Guys
                            li 
                                a(href="https://mcdonalds.com" target="blank") Burgers
                            li
                                a(href="https://mcdonalds.com" target="blank") And Fries 
                    div(class="footer-col")
                        h4 Follow Us
                        div(class="social-links")
                            a(href="https://www.facebook.com/McDonalds" target="blank")
                                i(class="fab fa-facebook-f")
                            a(href="https://twitter.com/McDonalds" target="blank")
                                i(class="fab fa-twitter")
                            a(href="https://www.instagram.com/mcdonalds/" target="blank")
                                i(class="fab fa-instagram")
                            a(href="https://www.linkedin.com/company/mcdonald%27s-corporation/" target="blank")
                                i(class="fab fa-linkedin-in")