doctype 

html 
    head 
        title McBroken 
        link(rel="stylesheet" href="./CSS/style.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css")
    body 
        header
            img(class="logo" src="./Images/McBrokenNewFinal.png" alt="logo")
            nav 
                ul(class="nav_links")
                    li 
                        a(href="/") Home
                    li
                        a(href="/location") Location
                    li
                        a(href="/order") Order

            a(class="cta" href="#")
                button Contact 

        section(class="content")
            block layout-content
        footer(class="site-footer")
            div(class="container")
                div(class="row")
                    div(class="footer-col")
                        h4 Company
                        ul 
                            li
                                a(href="https://mcdonalds.com") about us
                            li
                                a(href="https://mcdonalds.com") our service
                            li
                                a(href="https://mcdonalds.com") privacy policy
                            li
                                a(href="https://mcdonalds.com") affiliate program
                        
                    div(class="footer-col")
                        h4 Get Help
                        ul(class="footer-links")
                            li
                                a(href="https://mcdonalds.com") FAQ
                            li
                                a(href="https://mcdonalds.com") shipping
                            li
                                a(href="https://mcdonalds.com") returns
                            li
                                a(href="https://mcdonalds.com") order status
                            li
                                a(href="https://mcdonalds.com") payment options
                    div(class="footer-col")
                        h4 Online Shop
                        ul(class="footer-links")
                            li
                                a(href="https://mcdonalds.com") watch
                            li
                                a(href="https://mcdonalds.com") bag
                            li 
                                a(href="https://mcdonalds.com") shoes
                            li
                                a(href="https://mcdonalds.com") dress 
                    div(class="footer-col")
                        h4 Follow Us
                        div(class="social-links")
                            a(href="https://www.facebook.com/McDonalds")
                                i(class="fab fa-facebook-f")
                            a(href="https://twitter.com/McDonalds")
                                i(class="fab fa-twitter")
                            a(href="https://www.instagram.com/mcdonalds/")
                                i(class="fab fa-instagram")
                            a(href="https://www.linkedin.com/company/mcdonald%27s-corporation/")
                                i(class="fab fa-linkedin-in")