doctype 

html 
    head 
        title Express Demo 
        link(rel="stylesheet" href="./CSS/style.css")
    body 
        header
            nav 
            a(href="/") Home
            a(href="/location") Location
            a(href="/order") Order
        section(class="content")
            block layout-content
        footer Copyright McBroken 2022