doctype 

html 
    head 
        title McBroken 
        link(rel="stylesheet" href="./CSS/style.css")
    body 
        header
            nav 
            a(href="/") Home
            a(href="/location") Location
            a(href="/order") Order
        section(class="content")
            block layout-content
    footer(class="site-footer")
        div(class="container")
            div(class="row")
                div(class="col-sm-12 col-md-6")
                    h6 About
                    p(class="text-justify") McBorken is a program where users can use free promotions going at McDonalds the help satisify hunger. We came up with this program because we were hungry ourselves and wanted to free humankind from the strict restrictions of money. Also to blackmail McDonalds
        div(class="col-xs-6 col-md-3")
            h6 Categories
            ul(class="footer-links")
                li
                    a(href="https://mcdonalds.com") C
                li
                    a(href="https://mcdonalds.com") UI Design
                li
                    a(href="https://mcdonalds.com") PHP
                li
                    a(href="https://mcdonalds.com") Java
                li
                    a(href="https://mcdonalds.com") Android
                li  
                    a(href="https://mcdonalds.com") Templates
        div(class="col-xs-6 col-md-3")
            h6 Quick Links
            <ul class="footer-links">
                li
                    a(href="https://mcdonalds.com") About Us
                li
                    a(href="https://mcdonalds.com") Contact Us
                li 
                    a(href="https://mcdonalds.com") Contribute
                li
                    a(href="https://mcdonalds.com") Privacy Policy
                li
                    a(href="https://mcdonalds.com") Sitemap
        hr
        div(class="container")
            div(class="row")
            div(class="col-md-8 col-sm-6 col-xs-12")
                p(class="copyright-text") Copyright &copy; 2022 All Rights Reserved by 
                    a(href="#") McBroken
            div(class="col-md-4 col-sm-6 col-xs-12")
                <ul class="social-icons">
                    li
                        a(class="facebook" href="#")
                            i(class="fa fa-facebook")
                    li
                        a(class="twitter" href="#")
                            i(class="fa fa-twitter")
                    li
                        a(class="dribbble" href="#")
                            i(class="fa fa-dribbble")
                    li
                        a(class="linkedin" href="#")
                            i(class="fa fa-linkedin")  