doctype 

html 
    head 
        title McBroken 
        link(rel="stylesheet" href="./CSS/style.css")
    body 
        header
            nav 
            a(href="/") Home
            a(href="/location") Location
            a(href="/order") Order
        section(class="content")
            block layout-content
    footer(class="site-footer")
        div(class="container")
            div(class="row")
                div(class="col-sm-12 col-md-6")
                    h6 About
                    p(class="text-justify") Scanfcode.com CODE WANTS TO BE SIMPLE is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.
        div(class="col-xs-6 col-md-3")
            h6 Categories
            ul(class="footer-links")
                li
                    a(href="https://mcdonalds.com") C
                li
                    a(href="https://mcdonalds.com") UI Design
                li
                    a(href="https://mcdonalds.com") PHP
                li
                    a(href="https://mcdonalds.com") Java
                li
                    a(href="https://mcdonalds.com") Android
                li  
                    a(href="https://mcdonalds.com") Templates
        div(class="col-xs-6 col-md-3")
            h6 Quick Links
            <ul class="footer-links">
                li
                    a(href="https://mcdonalds.com") About Us
                li
                    a(href="https://mcdonalds.com") Contact Us
                li 
                    a(href="https://mcdonalds.com") Contribute
                li
                    a(href="https://mcdonalds.com") Privacy Policy
                li
                    a(href="https://mcdonalds.com") Sitemap
        hr
        div(class="container")
            div(class="row")
            div(class="col-md-8 col-sm-6 col-xs-12")
                p(class="copyright-text") Copyright &copy; 2017 All Rights Reserved by 
                    a(href="#") Scanfcode
            div(class="col-md-4 col-sm-6 col-xs-12")
                <ul class="social-icons">
                    li
                        a(class="facebook" href="#")
                            i(class="fa fa-facebook")
                    li
                        a(class="twitter" href="#")
                            i(class="fa fa-twitter")
                    li
                        a(class="dribbble" href="#")
                            i(class="fa fa-dribbble")
                    li
                        a(class="linkedin" href="#")
                            i(class="fa fa-linkedin")  