extends layout 

block layout-content 
    h1(id="location") location
    div 
        form(action="/order" method="post")
            input(type="text", placeholder="Address", name="address")
            br
            input(type="submit")