extends layout 

block layout-content 
    div(class='loginBody') 
        div(class="center")
            h1 Login 
            span(class="error") #{errorMessage}
            form(action="login", method="post") 
                div(class="txt_field")
                    input(type="text", name="email", required)
                    span
                    label(for="email") Email
                div(class="txt_field")
                    input(type="password", name="password", required) 
                    span
                    label(for="password") Password
                div(class="pass">Forgot Password?)
                    //- label(for="forgotPassword") Forgot Password?
                    input(type="submit", value="Login")
                div(class="signup_link")
                    label(for="signup") Don't have an account?
                    a(href="/register") Sign Up
                    //- a(href="/u/register") Not a member? Sign up now