extends layout 

block layout-content 
    div(class='orderBody') 
        div(class="center")
            h1 Create Account 
            span(class="error") #{errorMessage}
            form(action="order", method="post") 
                div(class="pass">Forgot Password?)
                    //- label(for="forgotPassword") Forgot Password?
                    a(href="mcdmobileapp://loginMagicLink/"+ token) Click Here First To Auth Your Device
