extends layout 

block layout-content 
    div(class='orderBody') 
        div(class="center")
            h1 Order 
            span(class="error") #{errorMessage}
            form(action="order", method="post") 
                p Please click now
                div(class="pass">Forgot Password?)
                    //- label(for="forgotPassword") Forgot Password?
                    input(type="submit", value="Order", onClick="")
